ext/redtree/*.o
ext/redtree/*.bundle
ext/redtree/*.so
ext/redtree/*.dll
ext/redtree/redtree.tab.c
ext/redtree/Makefile
ext/redtree/y.output
ext/redtree/eventids1.c
ext/redtree/redtree.c
ext/redtree/eventids2table.c
ext/redtree/ripperids.c
pkg/*